.body {
  color: white;
  background-color: rgb(11, 11, 11);
  font-family: 'Special Elite', cursive;

  /* The Full Navbar Css */
  .navbar {
    background-color: rgb(20, 20, 20);
    color: white;
  }
  
  .navbar a{
    color:#ffffff;
  }
  .navbar a:hover {
    color: #87b7ff;
  }

  .navbar a:focus {
    color: #ffffff;
  }
}

.landing-page {
  height: 100vh;
  width: 100%;
  .col {
    .row {
      .text-middle {
        margin: 0;
        margin-left: 0px;
        padding: 0 0 0 0;
        position: absolute;
        top: 15%;
        /* margin: 0;
               position: absolute;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%); */
      }
    }
  }
}
